extends ../layouts/default

block head
  title Drywall is Running

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 NodeChat
    h2 A simple chat app by Shawn Oakley
    p.lead
      | Welcome to a simple Node.js app I created with the help of the (excellent!) Drywall website and user system, JADE templating, a MongoDB database, and the Express.js application framework.
      div
        a.btn.btn-primary.btn-lg(href='/signup/') Create an Account
        |  or
        a.btn.btn-warning.btn-lg(href='/login/forgot/') Reset Your Password
      div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Start Chatting
          p Click here to head to the chat channel
          a.btn.btn-default.btn-block(href='/about/') Start chatting!
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Sign Up
          p If you don't have a login yet, click here.
          a.btn.btn-default.btn-block(href='/signup/') Sign up!
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Contact Us
          p Send me a message.  Not expecting any, but just in case.
          a.btn.btn-default.btn-block(href='/contact/') Shoot me an email!
