extends ../../layouts/default

block head
  title Chat
  link(rel='stylesheet', href='style.css')
  script(src= 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(src="/socket.io/socket.io.js")
  script(src="script.js")

block neck
  link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block feet
  script(src='/socket.io/socket.io.js')
  script(src='/views/about/index.min.js?#{cacheBreaker}')

block body
  div.container
    div.room-select
      h3.room-select-label Choose a room
    header
      h1 Welcome to NodeChat
    h3.room-name Intro Room
    div#chatBox.well
    div#chatForm
    script(type='text/template', id='tmpl-chatForm')
      form
        div.form-group
          div.input-group
            input.form-control(type='text', name='message', placeholder='enter a message')
            span.input-group-btn
              button.btn.btn-primary.btn-chat Send
